<nav class="navbar navbar-expand navbar-light my-navbar">

    <!-- Sidebar Toggle (Topbar) -->
    <div id="bar" class="nav-icon1 hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <i class="fas fa-bars"></i>
    </div>




    <!-- Topbar Navbar -->
    <div class="navbar-nav ml-auto mt-2 mr-2">
        <ul class="nav navbar-nav">
            <li class="dropdown" hidden>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.get_username}}</a>
                <ul class="dropdown-menu" hidden>
                    <a class="dropdown-item">Logout</a>
                </ul>
            </li>
        </ul>

    </div>

</nav>